:root {
    --primary-light: #C69E75;
    --primary-light-hover: #bd9165;
    --primary-dark: #362222;
    --primary: #472E2E;
    --text-dark: #2e2e2e;
    --text-secondary: #6e6e6e;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F0f0f0;
    height: 100%;
}

.bg-whitesmoke {
    background-color: #F0f0f0;
}

.bg-white {
    background-color: white !important;
}

html {
    scroll-behavior: smooth;
}

section .pages {
    display: none;
}

.carousel-item {
    background-size: cover;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-item>img {
    -webkit-animation: scale 50s ease;
    -o-animation: scale 50s ease;
    animation: scale 50s ease;
}

@keyframes scale {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.4, 1.4);
    }
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.carousel-title-container {
    position: absolute;
    bottom: 14rem;
    right: 1rem;
}

.carousel-title-content {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.carousel-title-content h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 400;
    color: white;
    line-height: 4rem !important;
    letter-spacing: 1px;
    font-family: 'Crismon', serif;
    margin-bottom: 0;
}

.carousel-title-content hr {
    align-self: flex-end;
    width: 120px;
    margin: 1rem 0rem 1rem 2rem;
    border-top: 3px solid rgba(255, 255, 255, 1);
}

.carousel-title-content p {
    color: white;
    letter-spacing: 1px;
    text-align: right;
    margin-top: .3rem;
}


.nav-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content img {
    height: 60px;
    padding-left: 3rem;
}

.nav-link-content {
    display: flex;
    flex-direction: column;
}

.nav-link-content .nav-top-items {
    display: flex;
}

.nav-link-content .nav-top-items .nav-items-link {
    padding: 1.8rem;
}

.nav-link-content .nav-top-items .nav-items-link a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}

.nav-content .nav-top-items .nav-sosmed a {
    margin: 0px 8px;
    font-size: 14px;
}

.nav-link-content hr {
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    margin: 0;
}

.nav-link-content .nav-items {
    display: flex;
    align-self: flex-end;
    padding: 1.8rem;
}

.nav-link-content .nav-items .nav-items-link {
    padding: 0 1.8rem;
}

.nav-link-content .nav-items .nav-items-link a {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: .4s ease;
}


.nav-link-content .nav-items i {
    font-size: 10px;
}

.nav-link-content .nav-items .dropdown-content {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-direction: column;
    transition: .8s ease;
    background-color: var(--primary-light);
    top: 1rem;
    left: -18px;
    opacity: 0;
}

.nav-link-content .dropdown .dropdown-content a {
    text-align: center;
    padding: 14px 0px;
    transition: .8s ease;
}

.nav-link-content .dropdown .dropdown-content a:hover {
    background-color: var(--primary-light-hover);
    transition: .8s ease;
}

.nav-link-content .nav-items .dropdown:hover .dropdown-content {
    transition: .8s ease;
    opacity: 1;
    top: 2rem;
}

.nav-link-content .nav-items .dropdown hr {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
}

.scroll-down-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.scroll-down-content {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: scroll-down-anim 1s ease-in-out infinite;
}

.scroll-down-content a {
    text-decoration: none;
}

.scroll-down-content i {
    cursor: pointer;
}


@keyframes scroll-down-anim {

    0%,
    100% {
        margin-bottom: 3rem;
    }

    50% {
        margin-bottom: 3.5rem;
    }
}

.nav-white-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-white-content {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-white-content img {
    height: 40px;
    margin-left: 40px;
}

.nav-white-content .nav-white-items-link {
    display: flex;
}

.nav-white-content .nav-white-items-link .nav-white-link {
    padding: 20px 28px;
}

.nav-white-link i {
    color: var(--primary-light);
    font-size: 10px;
}

.nav-white-content .nav-white-items-link .nav-book {
    background-color: var(--primary);
    cursor: pointer;
    padding: 20px 42px !important;
    transition: .5s ease;
}

.nav-white-content .nav-white-items-link .nav-book a {
    color: var(--primary-light) !important;
    font-size: 14px !important;
}

.nav-white-content .nav-white-items-link .nav-book span {
    font-size: 18px !important;
}

.nav-white-content .nav-white-items-link .nav-book:hover {
    background-color: var(--primary-dark);
    transition: .5s ease;
}

.nav-white-content .nav-white-items-link .nav-white-link a {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-dark);
    text-decoration: none;
    transition: .4s ease;
}

.nav-white-content .nav-white-items-link .dropdown-content {
    width: 170px;
    display: flex;
    position: absolute;
    flex-direction: column;
    transition: .8s ease;
    background-color: var(--primary-light);
    top: 3rem;
    left: -21px;
    opacity: 0;
}

.nav-white-content .dropdown .dropdown-content a {
    text-align: center;
    padding: 14px 0px;
    transition: .8s ease;
    color: white;
}

.nav-white-content .dropdown .dropdown-content a:hover {
    background-color: var(--primary-light-hover);
    transition: .8s ease;
}

.nav-white-content .nav-white-items-link .dropdown:hover .dropdown-content {
    transition: .8s ease;
    opacity: 1;
    top: 4rem;
}

.nav-white-content .nav-white-items-link .dropdown hr {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    margin: 0;
}

.nav-border-bottom {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

/* body */
.container-lg {
    box-sizing: border-box;
    padding: 150px 250px;
}

.container-sm {
    box-sizing: border-box;
    z-index: 99999;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.intro-item:nth-child(1) {
    box-sizing: border-box;
    padding: 100px;
}

.intro-item:nth-child(2) {
    flex: 60%;
    background-color: var(--primary-light);
    box-sizing: border-box;
    padding: 130px;
}

.intro-content .intro-small {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-secondary);
    cursor: pointer;
    font-weight: 300;
}

.intro-content .page-title {
    font-family: "Crismon", serif;
    color: var(--text-dark);
}

.intro-content .page-title::after {
    width: 42px;
    display: block;
    content: '';
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1.5rem 0rem;
}

.intro-content .intro-desc {
    letter-spacing: 1px;
    width: 70%;
    color: white;
}

.intro-content .intro-desc::after {
    width: 42px;
    display: block;
    content: '';
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin: 1.2rem 0rem;
}

.intro-sosmed {
    display: flex;
}

.intro-sosmed a {
    padding: 0px 10px;
    font-size: 14px;
}

.intro-sosmed a:nth-child(1) {
    padding-left: 0;
}

.room-type-content {
    display: flex;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    background-color: white;
    margin: 1rem;
}

.room-type-text-content .room-type-title {
    letter-spacing: 1px;
    color: var(--text-dark);
    font-weight: 400;
    font-family: 'Crismon', serif;
}

.room-type-text-content .room-type-title::after {
    content: '';
    display: block;
    border-top: solid 1px rgba(0, 0, 0, 0.3);
    width: 2rem;
    margin: 1rem 0rem;
}

.room-type-text-content .room-type-desc {
    letter-spacing: 1px;
    color: var(--text-secondary);
}

.room-type-text-content .explore {
    margin-top: 2rem;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary-light);
    text-align: right;
    cursor: pointer;
    font-family: 'Crismon', serif;
    transition: .3s ease;
}

.room-type-text-content .explore span {
    transition: .5s ease;
}


.room-type-text-content .explore:hover span {
    margin-left: .5rem;
    transition: .5s ease;
}

.room-type-content img {
    flex: 70%;
    height: 80vh;
    object-fit: cover;
    transition: .5s ease;
}

.room-type-text-content {
    flex: 30%;
    box-sizing: border-box;
    padding: 0rem 4rem;
}

.main-facilities-content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.main-facilities-item:nth-child(1) {
    flex: 40%;
}

.main-facilities-item:nth-child(2) {
    flex: 60%;
}

.main-facilities-item:nth-child(1) h6 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-dark);
    font-weight: 600;
}

.main-facilities-item:nth-child(2) h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-dark);
    font-family: "Crismon", serif;
}


.nav-white-mobile-content {
    display: none;
}

.nav-mobile-container {
    display: none !important;
}

.sidenav-mobile-container {
    display: none;
    z-index: -100;
}

.gallery-header {
    margin-top: 4rem;
    box-sizing: border-box;
    padding: 25vh 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-header .gallery-title {
    flex: 1;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: "Crismon", serif;
    padding-left: 20vh;
}


.gallery-header hr {
    flex: 4;
    border-top: 1px solid rgba(0, 0, 0, .199);
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    position: relative;
    height: 50vh;
    flex-grow: 1;
    background-size: cover;
    overflow: hidden;
    margin: 3px;
    cursor: pointer;
}

.gallery-item:last-child {
    flex-grow: 10;
}

.gallery-item .gallery-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: .8s ease;
}

.gallery-overlay-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.gallery-overlay-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 0rem;
    padding-right: 1.3rem;
    opacity: 0;
    transition: .8s ease;
}

.gallery-item:hover .gallery-overlay-content {
    opacity: 1;
    transition: .8s ease;
    padding-bottom: 1rem;
}

.gallery-overlay-content i {
    font-size: 22px;
    color: white;
}

.map-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4.2rem;
    background-color: white;
}

.map-content {
    width: 100%;
    height: 100vh;
}

.map-item:nth-child(1) {
    flex: 70%;
    width: 100%;
}

.map-item:nth-child(2) {
    flex: 30%;
    box-sizing: border-box;
    padding: 3rem 0rem;
}

.map-item .map-location-item {
    box-sizing: border-box;
    padding: 1rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: .5s ease;
}

.map-item .map-location-item:last-child {
    border-bottom: none;
}

.map-item .map-location-item span {
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--text-dark);
    cursor: pointer;
}

.map-item .map-location-item {
    display: flex;
    align-items: center;
}

.map-item .map-location-item:hover {
    transition: .5s ease;
    background-color: whitesmoke;
}

.map-item .map-location-item i {
    margin-left: 8px;
    font-size: 16px;
    color: var(--primary-light);
}

.map-item .map-header-title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Crismon", serif;
    letter-spacing: 1px;
    color: var(--primary-light);
    margin-bottom: 2rem;
    padding: 0rem 3rem;
}

.nav-tabs .nav-link {
    color: var(--text-secondary);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--primary-light);
}

.gm-ui-hover-effect{
    outline: none !important;
    border: none !important;
    background: none !important;
}

footer {
    box-sizing: border-box;
    padding: 3rem;
    background-color: white;
}

footer h5 {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-dark);
    margin: 0;
}

.footer-content {
    display: flex;
}

@media only screen and (max-width: 600px) {

    .carousel-control-next,
    .carousel-control-prev {
        margin-right: 3%;
        margin-left: 3%;
    }

    .carousel-control-next i,
    .carousel-control-prev i {
        font-size: 18px;
    }

    .nav-container {
        display: none;
    }

    .nav-white-container {
        display: none !important;
    }

    .nav-mobile-container {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 999;
        display: block !important;
    }

    .nav-mobile-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        padding: 1.5rem;
    }

    .nav-mobile-content .menu-icon {
        height: 16px;
        cursor: pointer;
    }

    .nav-mobile-content .nav-mobile-logo {
        height: 30px;
    }

    .nav-white-mobile-container {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
        display: none;
    }

    .nav-white-mobile-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        background-color: white;
    }

    .nav-white-mobile-content .nav-white-menu-icon {
        height: 16px;
        cursor: pointer;
    }

    .nav-white-mobile-content .nav-white-mobile-item {
        display: flex;
        align-items: center;
    }

    .nav-white-mobile-content .nav-white-mobile-item .nav-white-book {
        box-sizing: border-box;
        padding: 1rem;
        background-color: var(--primary);
        cursor: pointer;
    }

    .nav-white-mobile-content .nav-white-mobile-item .nav-white-book a {
        font-size: 13px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
    }

    .nav-white-mobile-content .nav-white-mobile-item .nav-white-menu-icon {
        cursor: pointer;
        margin-right: 1rem;
    }

    .nav-white-mobile-content a .nav-white-mobile-logo {
        height: 30px;
        margin-left: 1.2rem;
    }

    .sidenav-mobile-container {
        position: fixed;
        left: -100%;
        transition: .4s ease;
        top: 0;
        width: 100%;
        z-index: 99999;
        overflow-y: scroll;
        display: block;
    }

    .sidenav-mobile-content {
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    .sidenav-mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 2rem;
    }

    .sidenav-mobile-header .sidenav-mobile-logo {
        height: 35px;
    }

    .sidenav-mobile-header i {
        font-size: 18px;
        color: var(--text-secondary);
        cursor: pointer;
    }

    .sidenav-mobile-body {
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        height: 70vh !important;
        overflow-y: scroll;
    }


    .sidenav-mobile-body .sidenav-mobile-item {
        box-sizing: border-box;
        padding: .8rem 0rem;
    }

    .sidenav-mobile-body .sidenav-mobile-item a {
        color: var(--text-dark);
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        transition: .5s ease;
        font-family: "Crismon", serif;
    }

    .sidenav-mobile-body .active>a::after {
        display: block;
        content: '';
        border-top: solid 1px rgba(0, 0, 0, 0.3);
        width: 24px;
        margin-top: .8rem;
    }

    .sidenav-mobile-body hr {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
    }

    .sidenav-mobile-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3rem 0rem;
        background-color: white;
        text-align: center;
    }

    .sidenav-mobile-footer p {
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--text-secondary);
    }

    .sidenav-mobile-footer .sidenav-mobile-footer-content {
        display: flex;
        justify-content: center;
    }

    .sidenav-mobile-footer .sidenav-mobile-footer-content a i {
        padding: 0rem .6rem;
        font-size: 14px;
        color: var(--primary);
    }

    .sidenav-mobile-item i {
        font-size: 10px;
        color: var(--text-secondary);
    }

    .sidenav-dropdown-container {
        display: none;
    }

    .sidenav-dropdown-content {
        flex-direction: column;
        background-color: var(--primary-light);
        margin-bottom: .8rem;
        box-sizing: border-box;
        display: flex;
        transition: .4s ease;
    }

    .sidenav-dropdown-content a {
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        padding: 14px;
        letter-spacing: 1px;
        font-weight: 400;
        transition: .5s ease;
        font-family: "Crismon", serif;
    }

    .sidenav-dropdown-content hr {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin: 0px 1.2rem;
    }

    .sidenav-dropdown-content a:hover {
        transition: .8s ease;
        background-color: var(--primary-light-hover);
    }

    /* index */

    .carousel-title-container {
        bottom: 0;
        right: 0;
    }

    .carousel-title-content {
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 3rem;
    }

    .carousel-title-content h1 {
        font-size: 36px;
        line-height: 3rem !important;
    }

    .carousel-title-content hr {
        width: 40px;
        margin-left: 1rem;
    }

    .intro-content {
        flex-direction: column;
    }

    .intro-item:nth-child(1) {
        padding: 2rem;
    }

    .intro-item:nth-child(2) {
        padding: 2rem;
    }

    .intro-content .page-title {
        font-size: 28px;
    }

    .intro-content .page-title::after {
        margin-bottom: 0;
        width: 32px;
    }

    .intro-content .intro-desc {
        width: 100%;
    }

    .room-type-content {
        flex-direction: column;
    }

    .room-type-text-content {
        padding: 0rem 2rem
    }

    .room-type-content img {
        max-height: 40vh !important;
    }

    /* gallery */

    .gallery-header {
        margin-top: 3.5rem;
        padding: 10vh 0vh !important;
    }

    .gallery-header .gallery-title {
        padding-left: 5vh;
        font-size: 36px;
    }

    .gallery-header hr {
        flex: 1.5;
    }

    .gallery-item {
        height: 25vh !important;
    }

    /* location */
    .map-container {
        flex-direction: column-reverse;
    }

    .map-item:nth-child(2) {
        padding: 0rem;
        margin-bottom: 1.5rem;
    }

    .map-item .map-header-title{
        margin-bottom: 1rem;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
    }

    .map-content {
        height: 90vh;
    }

    .map-location-content {
        flex: 100%;
        padding: 2rem
    }

    .map-location-item{
        padding: 1rem 1.5rem !important;
    }
}

@media only screen and (max-width: 1200px) {

    .carousel-control-next,
    .carousel-control-prev {
        margin-right: 3%;
        margin-left: 3%;
    }

    .carousel-control-next i,
    .carousel-control-prev i {
        font-size: 18px;
    }

    .nav-container {
        display: none;
    }

    .nav-white-container {
        display: none !important;
    }

    .nav-mobile-container {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 999;
        display: block !important;
    }

    .nav-mobile-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        padding: 1.5rem;
    }

    .nav-mobile-content .menu-icon {
        height: 16px;
        cursor: pointer;
    }

    .nav-mobile-content .nav-mobile-logo {
        height: 30px;
    }

    .nav-white-mobile-container {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
        display: none;
    }

    .nav-white-mobile-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        background-color: white;
    }

    .nav-white-mobile-content .nav-white-menu-icon {
        height: 16px;
        cursor: pointer;
    }

    .nav-white-mobile-content .nav-white-mobile-item {
        display: flex;
        align-items: center;
    }

    .nav-white-mobile-content .nav-white-mobile-item .nav-white-book {
        box-sizing: border-box;
        padding: 1rem;
        background-color: var(--primary);
        cursor: pointer;
    }

    .nav-white-mobile-content .nav-white-mobile-item .nav-white-book a {
        font-size: 13px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
    }

    .nav-white-mobile-content .nav-white-mobile-item .nav-white-menu-icon {
        cursor: pointer;
        margin-right: 1rem;
    }

    .nav-white-mobile-content a .nav-white-mobile-logo {
        height: 30px;
        margin-left: 1.2rem;
    }

    .sidenav-mobile-container {
        position: fixed;
        left: -100%;
        transition: .4s ease;
        top: 0;
        width: 100%;
        z-index: 99999;
        overflow-y: scroll;
        display: block;
    }

    .sidenav-mobile-content {
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    .sidenav-mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 2rem;
    }

    .sidenav-mobile-header .sidenav-mobile-logo {
        height: 35px;
    }

    .sidenav-mobile-header i {
        font-size: 18px;
        color: var(--text-secondary);
        cursor: pointer;
    }

    .sidenav-mobile-body {
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        height: 35vh;
        overflow-y: scroll;
    }


    .sidenav-mobile-body .sidenav-mobile-item {
        box-sizing: border-box;
        padding: .8rem 0rem;
    }

    .sidenav-mobile-body .sidenav-mobile-item a {
        color: var(--text-dark);
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        transition: .5s ease;
        font-family: "Crismon", serif;
    }

    .sidenav-mobile-body .active>a::after {
        display: block;
        content: '';
        border-top: solid 1px rgba(0, 0, 0, 0.3);
        width: 24px;
        margin-top: .8rem;
    }

    .sidenav-mobile-body hr {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
    }

    .sidenav-mobile-footer {
        background-color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: 0;
        padding: 2rem 0rem;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        text-align: center;
    }

    .sidenav-mobile-footer p {
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--text-secondary);
    }

    .sidenav-mobile-footer .sidenav-mobile-footer-content {
        display: flex;
        justify-content: center;
    }

    .sidenav-mobile-footer .sidenav-mobile-footer-content a i {
        padding: 0rem .6rem;
        font-size: 14px;
        color: var(--primary);
    }

    .sidenav-mobile-item i {
        font-size: 10px;
        color: var(--text-secondary);
    }

    .sidenav-dropdown-container {
        display: none;
    }

    .sidenav-dropdown-content {
        flex-direction: column;
        background-color: var(--primary-light);
        margin-bottom: .8rem;
        box-sizing: border-box;
        display: flex;
        transition: .4s ease;
    }

    .sidenav-dropdown-content a {
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        padding: 14px;
        letter-spacing: 1px;
        font-weight: 400;
        transition: .5s ease;
        font-family: "Crismon", serif;
    }

    .sidenav-dropdown-content hr {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin: 0px 1.2rem;
    }

    .sidenav-dropdown-content a:hover {
        transition: .8s ease;
        background-color: var(--primary-light-hover);
    }

    /* index */

    .carousel-title-container {
        bottom: 0;
        right: 0;
    }

    .carousel-title-content {
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 3rem;
    }

    .carousel-title-content h1 {
        font-size: 36px;
        line-height: 3rem !important;
    }

    .carousel-title-content hr {
        width: 40px;
        margin-left: 1rem;
    }

    .intro-content {
        flex-direction: column;
    }

    .intro-item:nth-child(1) {
        padding: 2rem;
    }

    .intro-item:nth-child(2) {
        padding: 2rem;
    }

    .intro-content .page-title {
        font-size: 28px;
    }

    .intro-content .page-title::after {
        margin-bottom: 0;
        width: 32px;
    }

    .intro-content .intro-desc {
        width: 100%;
    }

    .room-type-content {
        flex-direction: column;
    }

    .room-type-text-content {
        padding: 0rem 2rem
    }

    .room-type-content img {
        max-height: 50vh;
    }

    /* gallery */

    .gallery-header {
        margin-top: 3.5rem;
        padding: 20vh 0vh;
    }

    .gallery-header .gallery-title {
        padding-left: 5vh;
        font-size: 36px;
    }

    .gallery-header hr {
        flex: 1.5;
    }

    .gallery-item {
        height: 40vh;
    }

    /* location */
    .map-container {
        flex-direction: column-reverse;
    }

    .map-item:nth-child(2) {
        padding: 0rem;
        margin-bottom: 1.5rem;
    }

    .map-item .map-header-title{
        margin-bottom: 1rem;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
    }

    .map-content {
        height: 90vh;
    }

    .map-location-content {
        flex: 100%;
        padding: 2rem
    }

    .map-location-item{
        padding: 1rem 1.5rem !important;
    }
}