<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karéns House Ubud | Gallery</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owlcarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/loading.css">
</head>

<body>
    <a href="#my-carousel" class="btn btn-primary btn-go-top"><i class="fas fa-chevron-up"></i></a>

    <div class="loading-container" id="loading">
        <div class="loading-content">
            <div class="self-building-square-spinner">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square clear"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square clear"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
    </div>

    <div class="booking-container">
        <div class="booking-content">
            <i id="close-booking" class="fas fa-times text-secondary"></i>
            <h5 class="font-weight-bold text-dark" style="margin-bottom: 36px;">Booking Via :</h5>
            <a href="https://www.booking.com/hotel/id/karen-house-ubud.id.html" target="_blank">
                <img class="bookingcom" src="assets/icon/bookingcom.svg" alt="">
            </a>
            <a href="https://www.tiket.com/hotel/indonesia/karen-house-ubud-310001603224194661" target="_blank">
                <img class="tiketcom" src="assets/icon/tiketdotcom.svg" alt="">
            </a>
            <a href="https://www.chambres-hotes.fr/chambres-hotes_karen-house-ubud_ubud_h4439009_en.htm"
                target="_blank">
                <img class="chambershotel" src="assets/icon/chambers-hotel.svg" alt="">
            </a>
            <a href="https://www.bedandbreakfast.eu/bed-and-breakfast/ubud/karen-house-ubud/7145911/" target="_blank">
                <img class="bedbreakfast" src="assets/icon/bbeu-logo-eu.png" alt="">
            </a>
        </div>
    </div>

    <div class="top-nav-web">
        <div class="top-nav-content" id="topnav">
            <div class="nav-content-left">
                <li class="top-nav-link">A tropical sanctuary in the heart of Ubud</li>
                <li class="separator"></li>
                <li class="top-nav-link"><a href=""><i class="fas fa-phone fa-xs"></i> +6281246768627</li></a>
                <li class="separator"></li>
                <li class="top-nav-link"><a href=""><i class="fas fa-envelope fa-xs"></i> karenshouseubud@gmail.com</li>
                </a>
            </div>
            <div class="nav-content-right">
                <li class="top-nav-link"><a href=""><i class="fab fa-instagram"></i></a></li>
                <li class="separator"></li>
                <li class="top-nav-link"><a href=""><i class="fab fa-facebook"></i></a></li>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar-custom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/logo/logo-white.png" alt="">
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rooms.html">Room</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="gallery.html ">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-booking booking">Book Now</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="carousel" id="my-carousel">
        <div class="carousel-inner">
            <div data-aos="zoom-out" data-aos-duration="2000">
                <div class="carousel-rooms">
                    <img src="https://picsum.photos/2000/2000?1" alt="">
                </div>
            </div>
            <div class="carousel-title-content carousel-title-content-room">
                <h1 class="carousel-title">Gallery</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-content">
        <nav>
            <ol class="breadcrumb p-0 mb-1">
                <li class="breadcrumb-item"><a href="index.html">Karéns House Ubud</a></li>
                <li class="breadcrumb-item active">Gallery</li>
            </ol>
        </nav>
    </div>

    <div class="custom-container">
        <div class="gallery" id="gallery">

        </div>
    </div>

    <footer data-aos="fade-up" data-aos-duration="1000" class="text-center">
        <img class="footer-logo" src="assets/logo/logo.png" alt="">
        <hr class="my-4">
        <div class="footer-content">
            <div class="footer-content-item">
                <a href="" target="_blank">
                    <i class="far fa-map fa-2x text-primary"></i>
                    <h6 class="footer-content-item-title">ADDRESS</h6>
                    <p class="my-2 text-secondary">Jalan Bisma, Ubud, Bali - Indonesia</p>
                </a>
            </div>
            <div class="footer-content-item">
                <a href="karenshouseubud@gmail.com" target="_blank">
                    <i class="far fa-envelope fa-2x text-primary"></i>
                    <h6 class="footer-content-item-title">EMAIL</h6>
                    <p class="my-2 text-secondary">karenshouseubud@gmail.com</p>
                </a>
            </div>
            <div class="footer-content-item">
                <a href="" target="_blank">
                    <i class="far fa-address-book fa-2x text-primary"></i>
                    <h6 class="footer-content-item-title">CALL US</h6>
                    <p class="my-2 text-secondary">+6281 239 863 16</p>
                </a>
            </div>
        </div>
        <div class="social-media">
            <a href="" target="blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" target="blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" target="blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <p class="text-sm text-secondary mb-0 mt-2"><small>© 2021 Karéns House Ubud. All Right Reserved.</small></p>
    </footer>

    <script src="assets/js/jquery/jquery-3.6.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/fontawesome/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="assets/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="assets/js/owl-carousel-demo.js"></script>

    <!-- front end js -->
    <script src="assets/js/front-end/loading.js"></script>
    <script src="assets/js/front-end/gallery-read-api.js"></script>
</body>

</html>